doctype html
html
	head
		meta(charset='UTF-8')
		title= title
		link(rel='stylesheet', href='/style.css')
		meta(http-equiv='refresh',content=interval)
	body
		#infowrap: a(href='/',title='Click to refresh.')#info No streams online