blue = #38e3f6
orange = #ffc375

a, button
	color white
	text-decoration none
	
	&:hover
		color orange

body
	background-color black
	color white
	font-family Arial
	margin 0
	overflow hidden

button
	background transparent
	border 0
	cursor pointer
	font-size 16px

iframe
	border 0
	overflow hidden

input
	border 1px solid transparent
	margin 0 5px
	outline 0
	padding 5px
	
	&:focus
		border-color orange

img
	border 0

form
	margin 10px
	
	*
		vertical-align middle

object
	margin 0
	padding 0

.hidden
	display none

#streams
	text-align center

.stream
	display inline-block
	height 100%
	width 100%

#infowrap
	top 0
	position absolute
	text-align center
	width 100%
	
#info
	background-color blue
	font-size 64px
	padding 10px
	
#listwrap
	bottom 50px
	position absolute
	text-align center
	top 50px
	width 100%
	
#list
	background-color blue
	margin auto
	max-height 100%
	max-width 500px
	overflow auto
	position relative
	
	a
		display block
		padding 10px
		
	.admin
		font-size 16px
		padding-bottom 10px
		
		*
			display inline-block
			margin 0 10px

#close
	font-size 36px
	position absolute
	right 0
	top 0
	
#lock
	background-image url('/lock.png')
	background-position center
	background-repeat no-repeat
	height 32px
	left 0
	position absolute
	top 0
	width 32px
	
	&:hover
		background-image url('/lockover.png')
	
#layout
	font-size 24px
	a
		background-position center
		background-repeat no-repeat
		display inline-block
		height 32px
		padding 10px
		position relative
		width 32px
		
	.layout1
		background-image url('/1.png')
		
		&:hover, &.selected
			background-image url('/1over.png')
	
	.layout2x2
		background-image url('/2x2.png')
		
		&:hover, &.selected
			background-image url('/2x2over.png')
	
	.layout3x3
		background-image url('/3x3.png')
		
		&:hover, &.selected
			background-image url('/3x3over.png')
	
#random
	font-size 36px
	padding 20px

#streamnames
	font-size 24px
	
#powered
	font-size 16px
	margin 10px
	
	a
		display inline
		font-weight bold