a
	color white
	text-decoration none

a:hover
	color #ffc375
	
body
	background-color black
	color white
	font-family Arial
	margin 0
	overflow hidden
	
iframe
	border 0
	overflow hidden
	
img
	border 0

object
	margin 0
	padding 0
	
.hidden
	display none

#streams
	text-align center

.stream
	display inline-block
	height 100%
	width 100%

#infowrap
	top 0
	position absolute
	text-align center
	width 100%
	
#info
	background-color #38e3f6
	font-size 64px
	padding 10px
	
#listwrap
	bottom 50px
	position absolute
	text-align center
	top 50px
	width 100%
	
#list
	background-color #38e3f6
	margin auto
	max-height 100%
	max-width 500px
	overflow auto
	position relative
	
	a
		display block
		padding 10px

#close
	font-size 36px
	position absolute
	right 0
	top 0
	
#lock
	background-image url('/lock.png')
	background-position center
	background-repeat no-repeat
	height 32px
	left 0
	position absolute
	top 0
	width 32px
	
#lock:hover
	background-image url('/lockover.png')
	
#layout
	font-size 24px
	a
		background-position center
		background-repeat no-repeat
		display inline-block
		height 32px
		padding 10px
		position relative
		width 32px
		
	.layout1
		background-image url('/1.png')
	
	.layout1:hover, .layout1.selected
		background-image url('/1over.png')
	
	.layout2x2
		background-image url('/2x2.png')
	
	.layout2x2:hover, .layout2x2.selected
		background-image url('/2x2over.png')
	
	.layout3x3
		background-image url('/3x3.png')
	
	.layout3x3:hover, .layout3x3.selected
		background-image url('/3x3over.png')
	
#random
	font-size 36px
	padding 20px

#streamnames
	font-size 24px
	
#powered
	font-size 16px
	margin 10px
	
	a
		display inline
		font-weight bold